body{
    background-color: rgb(241, 240, 240);
}

.contenedor-nav{
    margin-top: 30px;
}

.barra {
    background-color: rgb(178, 180, 180);
}

.secciones{
    margin-top: 50px;
    margin-bottom: 50px;
}

.tarjeta{
    margin: 30px auto auto auto;
}

.loguin {
    background-color: rgb(88, 88, 88);
    color: whitesmoke;
}

